* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.css-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.css-ul-container {
  list-style-type: none;
  display: flex;
}

.css-button-itself {
  margin-right: 10px;
  width: 100px;
  height: 30px;
  background-color: transparent;
  border-radius: 10px;
  color: #db1c48;
  border-color: #db1c48;
  border-width: 1px;
}

.css-button-itself:hover {
  cursor: pointer;
}

.css-Active {
  background-color: #db1c48;
  color: white;
}

.css-image-itself {
  width: 200px;
}

.css-image-container {
  height: 150px;
}
